.fade {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #cacaca;
}

.upper {
  text-transform: uppercase;
}

.first {
  margin-bottom: 29px;
}

.ln {
  line-height: 34px;
}

.main {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.space {
  margin-top: 29px;
}

.web {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
